/* **NAVIGATION** */
/* Navigation sidebar */
.navigation {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 100px;
    /* Set the width of the navigation bar */
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    /* Set a max-width for the navigation bar */
    /* background-color: rgba(203, 203, 203, .5); */
    backdrop-filter: blur(10px);
    background-color: rgba(232, 229, 221, .5);
    z-index: 1000;
}
/* Navigation items */
.navigation .link {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    transition: ease .2s;
    text-align: center;
}
/* Navigation item icons*/
.navigation .link .nav-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7rem;
    /* color: rgba(33, 31, 38, 1.00); */
    color: rgba(13, 30, 218, .7);
    color: rgba(0, 0, 0, 1);

}
/* Active link styling*/
.navigation .link.active-link {
    border-radius: 50%;
}
/* Hover effect on navigation items */
.navigation .link:hover {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.08);
    transition: ease .3s;
}
/* Div to indicate active page in nav  */
.navigation .link .active-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 6px;
    height: 60px;
    background-color: rgba(66, 66, 66, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Navigation tool-tip */
a .tool-tip {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;
    /* margin-left: 10px; */
    padding: 10px;
    border-radius: 7px;
    color: aliceblue;
    background-color: rgba(33, 31, 38, 1);
}
/* Display tool-tip when navigation item is hovered */
.link:hover .tool-tip {
    display: block;
}
/* **NAVIGATION END** */