input{
    border: 1px solid gainsboro;
    outline: none !important;
}
.input{
    width: 100%;
    height: auto;
    overflow: visible;
    font-size: 1.5rem;
    border-radius: 10px;
}
.edit-input{
    padding: 10px !important;
}
.department-input{
    padding: 10px;
    border-radius: 10px;
}
.assignee-select{
    width: auto !important;
}

.name-description{
    font-size: 1.5rem;
    border: 1px solid transparent;
    /* padding: 10px; */
    /* display: none; */
}

.disabled{
    color: inherit;
    background-color: transparent;
}

.card-wrap{
    border-radius: 15px !important;
    background-color: rgba(232, 229, 221, .3) !important;
}

.edit-btn{
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
    float: right;
    /* background-color: #fff !important; */
}
.edit-enabled-btn{
    margin-left: 5px;
    margin-right: 5px;
}
.remove-btn{margin-right: 10px;}
.property-title{
    color: grey;
}

.assignee-property{
    cursor: pointer;
}